<?xml version="1.0" encoding="utf-8"?>
<services>
  <service name="Elasticsearch">
    <uri>http://192.168.1.180:7111</uri>
    <uri>http://192.168.2.217:7111</uri>
  </service>
  <service name="ES_5.0.0">
    <uri>http://192.168.10.1:9200</uri>
    <uri>http://192.168.10.10:9200</uri>
    <uri>http://192.168.10.11:9200</uri>
    <uri>http://192.168.10.12:9200</uri>
    <uri>http://192.168.10.13:9200</uri>
  </service>
  <service name="CompanyNameIndex">
    <uri>net.tcp://192.168.1.199:8910/OrgCompanyNameIndexService</uri>
  </service>
  <service name="CompanyMap">
    <uri>net.tcp://192.168.1.199:8951/CompanyMapService</uri>
  </service>
  <service name="ShortMsg">
    <uri>net.tcp://58.221.49.204:8660/SMService</uri>
  </service>
  <service name="Upload">
    <uri>http://192.168.1.222:8807/Upload.asmx</uri>
  </service>
  <service name="Portrait_Upload">
    <uri>http://192.168.1.222:8807/Upload.asmx</uri>
  </service>
  <service name="CompanyTradeAnalysis">
    <uri>net.tcp://192.168.2.200:8935/TradeAnalysisService</uri>
  </service>
</services>
