<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SDCacheProviderConfig">
      <section name="sdmemcached" type="Enyim.Caching.Configuration.MemcachedClientSection, QZ.Foundation.Cache" />
    </sectionGroup>
  </configSections>
  <SDCacheProviderConfig>
    <sdmemcached>
      <servers>
        <add address="192.168.1.166" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="200" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </sdmemcached>
  </SDCacheProviderConfig>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--客户端初始密钥，如果要改，app那边必须同步改，当然老版本的可能就失败了-->
    <add key="C_Dyn_0" value="0GL71E02907CA25135B36B5328AF36C4" />
    <!--<add key="C_Dyn_0" value="0BF71E02907CA25135B36B5328AF36C4" />-->
    <!--0BF71E02907CA25135B36B5328AF36C4-->
    <!--客户端动态密钥，可以修改-->
    <add key="C_Dyn" value="ST1856A312320D4E0F6385347089EEAC" />
    <!--服务端动态密钥，可以修改-->
    <add key="S_Dyn" value="FK1856A312580D4E0F6311147291EE34" />
    <!--服务端token生成密钥，可以修改此值，修改此值后，服务端通过返回密钥错误，并通知客户端重新登录从而获取正确的token -->
    <add key="S_Tok" value="BB1856A312580D4E0F6311147089E798" />
    <!--服务消息版本，计算逻辑没有使用此值，仅用于标注消息版本-->
    <add key="S_Msg" value="0.0.0.0" />
    <!--iOS version, 根据实际情况修改-->
    <add key="i_ver" value="0" />
    <!--Android version, 根据实际情况修改-->
    <add key="a_ver" value="0" />
    <!--iOS 更新检测， false表示不检测-->
    <add key="i_flag" value="false" />
    <!--Android 更新检测， false表示不检测-->
    <add key="a_flag" value="false" />
    <!--whether to enable comment tag-->
    <add key="ctag_flag" value="false" />
    <!--开放登录标志-->
    <add key="open_login_flag" value="true" />
    <!--Android 包地址-->
    <add key="a_pack_addr" value="http://appfile.qianzhan123.com/android/qiye/forward.qiye.latest.version.apk" />
    <!--服务地址的配置文件相对path-->
    <add key="Service_Path" value="Service.config" />
    <!-- Web站点详细页 请不要在最后加入斜杠-->
    <add key="oc_detail_weburi" value="http://192.168.1.203:52" />
    <!--key to be used in encrypting oc_code, please do not change it arbitrarily-->
    <add key="code_key" value="EF5B301ABD7483DC5129CD591A6757AF" />

    <!--upper limit of quering pg index-->
    <add key="query_pg_limit" value="30" />

    <!-- 图谱模板 -->
    <add key="D3Force" value="Templates\HtmlMap\D3Force.html" />
    <add key="D3HEB" value="Templates\HtmlMap\D3HEB.html" />
    <add key="D3RadiaTree" value="Templates\HtmlMap\D3RadiaTree.html" />
    <!--用户名修改次数限制-->
    <add key="u_name_limit" value="200" />
    <!--社区热帖数量-->
    <add key="cm_topic_hot_limit" value="5" />
    <add key="MailServer" value="noreply@sys-mail.qianzhan.com|sys-mail.qianzhan.com|25|orgreport@sys-mail.qianzhan.com|orgreport!2018|0" />
    <!--最新浏览公司列表数量-->
    <add key="oc_fresh_limit" value="3" />
    <!-- ignore verify code when in debug mode -->
    <add key="verifycode_debug" value="false" />
    <add key="brand_domain" value="http://img10.qianzhan123.com/Brand" />
    <add key="patent_domain" value="http://img10.qianzhan123.com/Patent" />
    <add key="recruit_domain" value="http://img10.qianzhan123.com/employ/ZLZP" />
    <add key="mailFromName" value="企业查询宝" />
    <!--backup of recommended company codes, used when the naive recommendation algorithm is failed -->
    <add key="company_recommend" value="10001686X|102016548|759521215" />
  </appSettings>

  <connectionStrings>
    <!--用户登录-->
    <add name="SysLog" connectionString="Database=QZNewSite_App_Logs;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="QZNewSite_User" connectionString="Database=QZNewSite_User;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="QZNewSite_ULogs" connectionString="Database=QZNewSite_ULogs;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="SysLog_App" connectionString="Database=QZOrgCompanyAppLog;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <!--邮件-->
    <add name="QZNewSite" connectionString="Database=QZNewSite;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="QZNewSite_News" connectionString="Database=QZNewSite_News;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="QZBase166" connectionString="Database=QZBase;Server=192.168.1.166;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    <add name="QZBase" connectionString="Database=QZBase;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />    
    <add name="QZOrgCompany" connectionString="Database=QZOrgCompany;Server=192.168.1.199;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    <!--<add name="QZOrgCompany" connectionString="Database=QZOrgCompany;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient"/>-->
    <add name="QZOrgCompanyApp" connectionString="Database=QZOrgCompanyApp;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="QZOrgCompanyAppLog" connectionString="Database=QZOrgCompanyAppLog;Server=192.168.1.159;Integrated Security=false;uid=qzdata;pwd=qzdata159@Qz;" providerName="System.Data.SqlClient" />
    <add name="QZOrgCompanyGsxt" connectionString="Database=QZOrgCompanyGsxt;Server=192.168.1.199;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    <add name="QZCourt" connectionString="Database=QZCourt;Server=192.168.1.199;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    <add name="QZPatent" connectionString="Database=QZPatent;Server=192.168.1.199;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    <add name="QZBrand" connectionString="Database=QZBrand;Server=192.168.1.199;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    <add name="QZProperty" connectionString="Database=QZOrgCompanyGsxt;Server=192.168.1.199;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient" />
    
    <!--Database in practice. Notice ip, username and pwd's differences, and modify them when neccessary-->
    <!--<add name="QZBrand" connectionString="Database=QZBrand;Server=192.168.1.235;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient"/>
    <add name="QZProperty" connectionString="Database=QZProperty;Server=192.168.1.211;Integrated Security=false;uid=qzdata;pwd=qzdata.admin;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/logmsmq" binding="netMsmqBinding" bindingConfiguration="msmqBinding" contract="QZ.Instrument.LogClient.ILogger" name="logEndpoint" />
      <!--<endpoint address="net.tcp://192.168.2.200:8951/CompanyMapService"
        binding="netTcpBinding" bindingConfiguration="MemoryStoreService"
        contract="QZ.Service.Enterprise.ICompanyMapChannel" name="MemoryStoreService" />-->
      <endpoint address="net.tcp://192.168.2.200:8935/TradeAnalysisService"
                binding="netTcpBinding" bindingConfiguration="TradeAnalysisService"
                contract="OrgCompanyTrade.TradeAnalysisService" name="TradeAnalysisService" />
    </client>
    
    <services>
      <service name="QZ.Service.Enterprise.Enterprise">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHTTP" contract="QZ.Service.Enterprise.IEnterprise" behaviorConfiguration="webBehavior" />
      </service>
      <service name="QZ.Service.Enterprise.User">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHTTP" contract="QZ.Service.Enterprise.IUser" behaviorConfiguration="webBehavior" />
      </service>
      <service name="QZ.Service.Enterprise.Community">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHTTP" contract="QZ.Service.Enterprise.ICommunity" behaviorConfiguration="webBehavior" />
      </service>
      <service name="QZ.Service.Enterprise.News">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHTTP" contract="QZ.Service.Enterprise.INews" behaviorConfiguration="webBehavior" />
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="msmqBinding">
          <security>
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
      <webHttpBinding>
        <binding name="webHTTP" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="TradeAnalysisService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
